*{
    margin: 0px;
    padding: 0px;
    --cor-fundo: #fdfdfd;
    --cor-fundo-secundaria: #EFDCEC;
    --cor-primaria-texto: #050505;
    --cor-secundaria-texto: #444;
    --cor-rosa-escuro: #C0A;
}

body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: "roboto";
    color: var(--cor-primaria-texto);
    background-color: var(--cor-fundo);
}