header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--cor-fundo);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

header > div{
    padding: 15px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: 'Righteous', sans-serif;
    
}

header  h1 > span{
    color: #CC00AA;
}

header h1{
    user-select: none;
    margin-left: 20px;
}

.header-menu-pc{
    display: none;
}

.header-btn-pc{
    display: none;
}

header .material-symbols-outlined{
    font-size: 2.75rem;
    cursor: pointer;
    margin-right: 20px;
}

@media (min-width:1000px) {
    .header-btn-pc{
        display: flex;
    }

    .header-btn-pc a{
        display: inline-block;
        padding: 12px 24px;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        text-decoration: none;
    }

    .header-btn-pc a:nth-child(1){
        color: var(--cor-rosa-escuro);
        background-color: var(--cor-fundo);
    }

    .header-btn-pc a:nth-child(2){
        color: var(--cor-fundo);
        background-color: var(--cor-rosa-escuro);
    }

    .header-menu-cel{   
        display: none;
    }

    .header-menu-pc{
        font-family: "roboto";
        font-weight: 500;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 30px;
        margin-right: 60px;
        list-style: none;
        font-size: 1.1rem;
    }

    .header-menu-pc a{
        letter-spacing: 0.5px;
        color: var(--cor-secundaria-texto);
        text-decoration: none;
    }

    .header-menu-pc a:hover{
        color: var(--cor-rosa-escuro);
    }
}